<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Online tools</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/translation" lines="full">
              <ion-icon slot="start" src="assets/icon/translate.svg" slot="start"></ion-icon>
              <ion-label>翻訳校正</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/calculation" lines="full">
              <ion-icon slot="start" name="calculator" slot="start"></ion-icon>
              <ion-label>計算機</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
